:root {
  --main-font-family: "Inter";
  --accent-font-family: "Press Start 2P";
  --weight-card-text: 400;
  --weight-card-title: 465;
  --main-color: #000;
  --bg-color: #fff;
  --acc-color: #000;
  --text-stroke: #fff;
  --contour-color: #000;
  --text-color: #000;
  --button-text-color: #fff;
  --fill-color: red;
  --headings-font-weight: 700;
  --bg-img: repeating-linear-gradient(
    to left,
    #d3d3d3 0 2px,
    #d3d3d300 2px 4px
  ),
  repeating-linear-gradient(
    to bottom, #d3d3d3 0 2px,
   #d3d3d300 2px 4px
   ),
  linear-gradient(
    to bottom, #e7e7e7 0.01%,
   #1a1a1a
   );
}

